/* Website edits */
body {

    background-color: #EAD2AC;

}

footer {
    text-align: center;
}

/* Nav bar edits */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #040F0F;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(197, 177, 177);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #C97064;
    color: white;
  }


/* Collapsible button */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: rgb(235, 213, 186);
    color: #444;
    cursor: pointer;
    /* padding: 18px; */
    width: 75%;
    border: none;
    text-align: center;
    /* outline: none; */
    font-size: 15px;    
    margin-left: 12.5%;
    margin-right: auto;
    font-family: verdana;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #6B7D7D;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    /* padding: 0 18px; */
    background-color: rgb(235, 213, 186);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 75%;
    
    margin-left: auto;
    margin-right: auto;
  }

.collapsibletitle {
    color: #6B7D7D;
    font-weight: bold;
    font-size: 300%;
    
}

/* Div edits */

.Welcome {
    background-color: rgb(235, 235, 211);
    width: 75%;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.Instructions {
    background-color: rgb(235, 235, 211);
    width: 75%;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
}

h1 {
    color: #312509;
    font-family: verdana;
    font-size: 300%;
    text-align: center;

  }

h2 {
    color: #312509;
    font-family: verdana;
    font-size: 300%;
    text-align: center;

  }
p {
color: black;
font-family: courier;
font-size: 160%;
}